{% extends 'home.html' %}

{% block content %}
<div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
          Kubernetes and Cloud Native Associate (KCNA) Certification, Novembre 2022
        </a>
        <img id="logo-KCNA" src="static/images/KCNA-Logo-300x300.png" height="70" width="70">
      </div>
      <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>
              Certifie des compétences sur Kubernetes, les outils et les pratiques du cloud
            </li>
            <li><a href="https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/e889e326-7b5d-44b5-8455-0c904bce9679-gautier-bonnemaison-33c68937-d85c-44b2-bdd0-ea10558376f5-certificate.pdf">Certificat disponible en cliquant sur ce lien</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="btn collapsed" data-bs-toggle="collapse" href="#collapseTwo">
          Illinois Insitute of Technology, Armour College of Engineering, Chicago, Jan 2021 - Dec 2021
        </a>
        <img id="logo-IIT" src="static/images/ILTECH_red_horiz.png" height="30" width="210">
      </div>
      <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Titulaire d'un master of computer engineering in Internet of Things (IoT)</li>
            <li>
              Les cours suivis ont été les suivants: 
              <ul>
                <li>Artificial Intelligence and Edge Computing</li>
                <li>Internet of Things and Cyber Physical Systems</li>
                <li>Application Software Design</li>
                <li>Computer Network Security</li>
                <li>Modern Wireless Network Protocols and Standards</li>
                <li>Object-Oriented Programming and Machine Learning</li>
                <li>Machine and Deep Learning</li>
                <li>Special project: Indoor Remote-Controlled drone</li>
              </ul>
            </li>
            <li>Note générale: 3.9/4</li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
          INSA Lyon, département Télécommunications, Services et Usages, Villeurbanne, Sep 2018 - Dec 2020
        </a>
        <img src="static/images/logo-insa.png" height="60" width="200">
      </div>
      <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Diplôme d'ingénieur spécialité Télécommunications</li>
            <li>Double diplôme à l'Illinois Institute of Technology aux USA à la place du projet de fin d'étude</li>
            <li>Cours d'informatique (Python, Java, C/C++ (Socket), Applications Web, Algorithme, Structures de données)</li>
            <li>Cours de réseaux (couche OSI, étude des différents protocoles (TCP, UDP, OSPF, BGP, RIP), mise en place de réseaux, outils de réseaux de Linux, réseaux mobiles, analyse de performances des réseaux)</li>
            <li>Cours de syscom (construction de système radio avec MATLAB et cours de théorie physique)</li>
            <li>Cours de dernière année : 
              <ul>
                  <li>BTC : Cours sur la Blockchain</li>
                  <li>OSA : Programmation d'un OS Linux like</li>
                  <li>CIT : Mise en place d'une platforme d'edge computing connectée à AWS</li>
                  <li>SCP : Design de l'architecture d'un système IoT</li>
                  <li>PRJIOT : Mise en place d'un système IoT utilisant MQTT, flask, Docker et une base de donnée PostgreSQL</li>
                  <li>SRS : Cours sur la sécurité, travail sur les dernières méthodes de protection contre les attaques (IDS, IPS)</li>
              </ul>
            </li>            
          </ul>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
            Classe préparatoire, Lycée Henri Wallon, 2016-2018
        </a>
        <img id="logo-insa" src="static/images/logo-wallon.svg" height="100" width="100">
      </div>
      <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Intégré après avoir eu un bac S SVT mention très bien</li>
            <li>1ère année: Mathématiques, physique et sciences de l'ingénieur (MPSI) option informatique</li>
            <li>2ème année: Mathématiques et physique classe étoile (MPE) option informatique</li>
          </ul>
        </div>
      </div>
    </div>
  
  </div>
{% endblock %}
