{% extends 'home.html' %}

{% block content %}

<div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
          Stagiaire ingénieur R&D, Alstom, Villeurbanne, avr 2020 - jui 2020
        </a>
        <img id="logo-alstom" src="static/images/alstom.png" height="50" width="255">
      </div>
      <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Recherche sur des nouveaux protocoles pour la communication Train-Sol (MPTCP et SCTP)</li>
            <li>Conception d'une architecture de communication Train-Sol avec tunnels réseaux et routage adapté</li>
            <li>Mise en place de bancs de test à l'aide de machines virtuelles <b>VirtualBox</b> Linux</li>
            <li>Ecriture de scripts <b>Python</b> pour tester les performances réseaux</li>
            <li>Réalisation de la mission en télétravail avec succès</li>
            <li>Dépassement des objectifs avec la mise en place d'un réel banc de test comprenant l'équipement du train</li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
          DevOps à temps partiel, ETIC INSA, Junior Entreprise, Villeurbanne, sep 2019 - avr 2020
        </a>
        <img src="static/images/etic-insa.jpeg" height="80" width="80">
      </div>
      <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Utilisation de serveurs OVH</li>
            <li>Manipulation de l'OS ESXI de VMware</li>
            <li>Utilisation d'un <b>reverse proxy grâce à pfsense</b> pour rediriger les requêtes sur des containers <b>Docker</b></li>
            <li>Installation d'un logiciel de Paas, <b>CapRover</b></li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>

{% endblock %}
